

.sub-brand .name-app {
  font-size: 30px;
  font-weight: 900;
  color: #000;
}

.sub-brand .name-app:after {
  position: relative;
  content: ".";
  font-size: 54px;
  font-weight: 900;
  color: #005fb6;
  font-family: "Hindi Madurai";
}
.container {
  display: flex;
  height: 100svh;   
  position: relative;
  #right {
    flex: 1;
    position: relative;
    padding: 36px;
    box-sizing: border-boxd;
      background: var(--interaction-primary-default, #006ccb);
      color: var(--background-primary, #cbd5e1);
      display: flex;
      flex-direction: column;
      align-items: center;
      .sizing {
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: none;
      }
    }
  #left {
    flex: 1;
    padding: var(--section-padding);
    height: 100svh;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }

  }
}
.app-title {
  display: flex;
  align-items: baseline;
  color: #000;
  gap: 5px;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08px;
  height: 50px;
  .dot {
    background: var(--interaction-primary-default, #006ccb);
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 100px;
  }
}
.subtitle-app {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
}
.signatureContainer {
  width: 100%;
  min-height: 430px;
  background: var(--background-primary);
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  flex-direction: column;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .containerMockup {
    display: flex;
    color: #353638;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.44px;
    .userLogo {
      height: 100%;
    }
    .mockupText {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      span {
        margin: auto 10px;
      }
    }
  }
  .placeholders {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin: 20px 0 20px 45px;
  }
}
.placeholder-item {
  background: #f1f5f9;
  height: 16px;
}
.buttonsContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 900px) {

  .signatureContainer{
    padding: 36px 16px;
    box-sizing: border-box;
    margin-bottom: 20pxa;
  }


  .container {
    flex-direction: column; 
    #right {
        padding: 36px 16px;
        box-sizing: border-box;
        height: 100svh;
        width: 100svw;
        overflow-y: auto;
      }
    #left {
      height: 100svh;
      width: 100svw;
      padding: 16px;
     
    }
  }
}
