:host {
  width: 100%;
  input {
    display: flex;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--border-primary, #cbd5e1);
    background: var(--background-primary, #ffffff);
    color: var(--foreground-tertiary, #475569);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
    &::placeholder{
      color: var(--foreground-disabled);
    }
    &:focus {
      outline: 1px solid var(--border-brand, #0c8ced);
      border: none;
    }
    &:disabled{
      background: var(--background-tertiary, #F1F5F9);
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .helperText {
    color: var(--foreground-tertiary, #475569);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; 
    margin-left: 10px;
  }
  label {
    color: var(--foreground-secondary, #334155);
    /* Inter/Subtitle 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.014px;
    margin: 0 0 5px 5px;
  }
  &.ng-invalid.ng-touched.ng-dirty {
    input {
      outline: 1px solid var(--border-error, #f04438)!important;
      border: none;
    }
  }
  &:disabled {
    input {
      background: var(--background-tertiary, #F1F5F9);
    }
  }
}
