//INTER
@font-face {
    font-family: Inter;
    src: url('./fonts/Inter_24pt-Regular.ttf');
}
@font-face {
    font-family: Inter-medium;
    src: url('./fonts/Inter_24pt-Medium.ttf');
}
@font-face {
    font-family: Inter-light;
    src: url('./fonts/Inter_24pt-Light.ttf');
}

//LORA
@font-face {
    font-family: Lora;
    src: url('./fonts/Lora-Regular.ttf');
}
@font-face {
    font-family: Lora-medium;
    src: url('./fonts/Lora-Medium.ttf');
}

//SOURCE CODE PRO
@font-face {
    font-family: Sourcecode;
    src: url('./fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: Sourcecode-medium;
    src: url('./fonts/SourceCodePro-Medium.ttf');
}
@font-face {
    font-family: Sourcecode-light;
    src: url('./fonts/SourceCodePro-Light.ttf');
}